.ArrivalTotalAndDelayRate{
    width: 100%;
    height: 100%;
    // padding-top: 60px;
    .head{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .headBtn{
            margin-right: 80px;
        }
    }
    .overviewChartCont{
        width: 100%;
        height: calc(100% - 62px);
        position: relative;
        .overviewTxt{
            position: absolute;
            top: 8px;
            left: 20px;
            color: #fff;
            font-size: 22px;
            .speedTxt{
                color: #F2BB12;
                font-size: 22px;
            }
        }
    }
}