.PassRate {
    width: 100%;
    height: 760px;
    position: relative;
    .tit {
        width: 100%;
        height: 62px;
    }
    .passRateAnimateCom{
        position: relative;
    }
    .outCircle {
        display: block;
        width: 380px;
        height: 380px;
        margin: 0 auto;
        margin-top: 30px;
        animation: myout 10s infinite linear;
    }
    @keyframes myout {
        from {transform: rotate(0);}
        to {transform: rotate(360deg);}
    }
    .insidebg {
        width: 325px;
        height: 324px;
        display: block;
        margin: 0 auto;
        margin-top: -352px;
        margin-bottom: 50px;
        z-index: 9999;
    }
    .inside {
        width: 395px;
        height: 325px;
        position: absolute;
        left: 115px;
        // top: 120px;
        top: 40px;
        z-index: 10;
        img {
            width: 235px;
            height: 251px;
            display: block;
            position: absolute;
            left: 75px;
            top: -100px;
            animation: airplane 10s infinite linear;
            z-index: -1;
        }
        @keyframes airplane {
            0% {top: 140px;opacity: 0;}
            50% {top: 10px;opacity: 1;}
            100% {top: -80px;opacity: 0;}
        }
        .number {
            text-align: center;
            margin-top: 70px;
            margin-left: -12px;
            span {
                display: inline-block;
                padding-right: 5px;
                font-family: "lcd";
                font-size: 110px;
                margin-bottom: 0;
                background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#6EFBFE));
                -webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */
                -webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */
            }
            i {
                font-family: "lcd";
                font-size: 50px;
                background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#6EFBFE));
                -webkit-background-clip: text; /*必需加前缀 -webkit- 才支持这个text值 */
                -webkit-text-fill-color: transparent; /*text-fill-color会覆盖color所定义的字体颜色： */
            }
        }   
        
    }
}